<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/Head.html::head('SRAD - Applicant Menu')}"></th:block>
</head>

<body>
    <!-- Header -->
    <th:block th:replace="~{fragments/Header.html::header}"></th:block>

    <!-- Sidebar -->
    <th:block th:replace="~{fragments/Sidebar.html::sidebar}"></th:block>

    <main id="main" class="main">

        <div class="pagetitle">
            <!-- Alerts -->
            <th:block th:replace="~{fragments/Alerts.html::alerts}"></th:block>

            <!-- Page title -->
            <h1>Pick A Task</h1>

            <!-- Breadcrumb -->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/applicant}">Applicant</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Menu
                    </li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row">

                <!-- Left side - Cards -->
                <div class="col-lg-8">
                    <div class="d-flex flex-wrap align-items-stretch gap-3">

                        <!-- Apply to Study at UTM -->
                        <div class="card info-card sales-card p-4 m-0" style="max-width: 300px;">
                            <div class="card-body">
                                <a th:href="@{/applicant/apply/form}" class="stretched-link"></a>
                                <h5 class="card-title">Apply to Study at UTM</h5>
                                <div class="text-center">
                                    <i class="bi bi-building-fill-add"></i>
                                </div>
                            </div>
                        </div>

                        <!-- View my Applications -->
                        <div class="card info-card sales-card p-4 m-0" style="max-width: 300px;">
                            <div class="card-body">
                                <a th:href="@{/applicant/view-initiated}" class="stretched-link"></a>
                                <h5 class="card-title">View My Applications</h5>
                                <div class="text-center">
                                    <i class="bi bi-envelope-paper"></i>
                                </div>
                            </div>
                        </div>

                        <!-- View Application Status -->
                        <div class="card info-card sales-card p-4 m-0" style="max-width: 300px;">
                            <div class="card-body">
                                <a th:href="@{/applicant/view-status}" class="stretched-link"></a>
                                <h5 class="card-title">View Application Status</h5>
                                <div class="text-center">
                                    <i class="bi bi-envelope-paper"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Apply to become representative agents -->
                        <div class="card info-card sales-card p-4 m-0" style="max-width: 300px;">
                            <div class="card-body">
                                <a th:href="@{/applicant/become-agents}" class="stretched-link"></a>
                                <h5 class="card-title">Apply to become representative agents</h5>
                                <div class="text-center">
                                    <i class="bi bi-person-badge-fill"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Right side - News -->
                <div class="col-lg-4">

                    <!-- News & Updates Traffic -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                            <div class="news">
                                <div class="post-item clearfix">
                                    <img src="/img/news-1.jpg" alt="">
                                    <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                                    <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="/img/news-2.jpg" alt="">
                                    <h4><a href="#">Quidem autem et impedit</a></h4>
                                    <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...
                                    </p>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="/img/news-3.jpg" alt="">
                                    <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                                    <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...
                                    </p>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="/img/news-4.jpg" alt="">
                                    <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                                    <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...
                                    </p>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="/img/news-5.jpg" alt="">
                                    <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                                    <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos
                                        eius...</p>
                                </div>

                            </div><!-- End sidebar recent posts-->

                        </div>
                    </div><!-- End News & Updates -->

                </div>

            </div>
        </section>

    </main>

    <th:block th:replace="~{fragments/Footer.html::footer}"></th:block>
    <th:block th:replace="~{fragments/BackToTop.html::back-to-top}"></th:block>
    <th:block th:replace="~{fragments/Scripts.html::scripts}"></th:block>
</body>

</html>