<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/Head.html::head('SRAD - Payment')}"></th:block>
</head>

<body>
    <!-- Header -->
    <th:block th:replace="~{fragments/Header.html::header}"></th:block>
    <!-- Sidebar -->
    <th:block th:replace="~{fragments/Sidebar.html::sidebar}"></th:block>


    <main id="main" class="main">

        <div class="pagetitle">
            <!-- Alerts -->
            <th:block th:replace="~{fragments/Alerts.html::alerts}"></th:block>

            <!-- Page title -->
            <h1>Processing Fee Payment</h1>

            <!-- Breadcrumb -->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/applicant}">Applicant</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Processing Fee Payment
                    </li>
                </ol>
            </nav>
        </div>


        <section class="section">
            <div class="row">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Please pay application processing fee.</h5>

                        <!-- Multi Columns Form -->
                        <form class="row g-3" method="POST" enctype="multipart/form-data"
                            th:action="@{/applicant/apply/pay/{id}(id=${studentApplication.id})}">

                            <!-- Instructions -->
                            <div class="col-md-12">
                                <p>1. Please pay RM 20.00 processing fee through the following methods:</p>
                                <ul>
                                    <li>Online Banking - Maybank (Account No: 1234567890)</li>
                                    <li>DuitNow (Account No: 1234567890)</li>
                                </ul>
                            </div>

                            <!-- Payment Proof File upload -->
                            <div class="col-md-12">
                                <label for="paymentProof" class="form-label">Payment Proof</label>
                                <input class="form-control form-control-sm" id="paymentProof" type="file"
                                    name="paymentProof" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
        </section>
    </main>

    <th:block th:replace="~{fragments/Footer.html::footer}"></th:block>
    <th:block th:replace="~{fragments/BackToTop.html::back-to-top}"></th:block>
    <th:block th:replace="~{fragments/Scripts.html::scripts}"></th:block>
</body>

</html>