<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/Head.html::head('SRAD - Documents Upload')}"></th:block>
</head>

<body>
    <!-- Header -->
    <th:block th:replace="~{fragments/Header.html::header}"></th:block>
    <!-- Sidebar -->
    <th:block th:replace="~{fragments/Sidebar.html::sidebar}"></th:block>


    <main id="main" class="main">

        <div class="pagetitle">
            <!-- Alerts -->
            <th:block th:replace="~{fragments/Alerts.html::alerts}"></th:block>

            <!-- Page title -->
            <h1>Supporting Documents</h1>

            <!-- Breadcrumb -->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/applicant}">Applicant</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Upload Documents
                    </li>
                </ol>
            </nav>
        </div>


        <section class="section">
            <div class="row">

                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Please upload supporting documents.</h5>

                        <!-- Multi Columns Form -->
                        <form class="row g-3" method="POST" enctype="multipart/form-data"
                            th:action="@{/applicant/apply/docs/{id}(id=${studentApplication.id})}">

                            <!-- Qualification Transcript -->
                            <div class="col-md-12">
                                <label for="qualificationTranscript" class="form-label">Qualification Transcript (Eg:
                                    SPM)</label>
                                <input class="form-control form-control-sm" id="qualificationTranscript" type="file"
                                    name="qualificationTranscript" required>
                            </div>

                            <!-- English language Certification -->
                            <div class="col-md-12">
                                <label for="englishCert" class="form-label">English Language Certification (Eg:
                                    MUET)</label>
                                <input class="form-control form-control-sm" id="englishCert" type="file"
                                    name="englishCert" required>
                            </div>

                            <!-- Identity -->
                            <div class="col-md-12">
                                <label for="identity" class="form-label">Identity (Eg: MyKad/Passport)</label>
                                <input class="form-control form-control-sm" id="identity" type="file" name="identity"
                                    required>
                            </div>

                            <!-- Other documents -->
                            <div class="col-md-12">
                                <label for="otherDocs" class="form-label">Other documents</label>
                                <input class="form-control form-control-sm" id="otherDocs" type="file" name="otherDocs"
                                    multiple>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
        </section>
    </main>


    <th:block th:replace="~{fragments/BackToTop.html::back-to-top}"></th:block>
    <th:block th:replace="~{fragments/Footer.html::footer}"></th:block>
    <th:block th:replace="~{fragments/Scripts.html::scripts}"></th:block>
</body>

</html>